:root {
    --announce-colour: hsl(40deg 6.98% 8.43%);
    --body-colour: hsl(38.82deg 34.69% 90.39%);
    --orange: hsl(14.92deg 80.09% 54.71%);
    --lime: hsl(74.27deg 84.54% 61.96%);
    --brown: hsl(28.36deg 65.77% 56.47%);
    --white: hsl(0deg 0% 100%);
}
* { 
    font-family: 'Poppins', sans-serif; 
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--body-colour);
    color: var(--announce-colour);
}
/*Announcement bar*/
.annonuce {
    background-color: var(--announce-colour);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0;
    text-align: center;
}
.annonuce span:nth-child(1), span:nth-child(3) { color: var(--body-colour); }
.annonuce span:nth-child(2) { color: var(--lime); }
.annonuce span { padding: 0.005rem; }
/*nav bar*/
.header .icons svg { fill: var(--announce-colour); }

.header {
    background-color: var(--body-colour);
    border-bottom: 1px solid #E0DDD7;
    position: sticky;
    top:0;
    z-index: 100;
}
.header .cont {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 1rem;
}
.header .cont .logo {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 0.05rem;
    text-decoration: none;
    color: var(--announce-colour);
}
.header .cont .nav {
    display: flex;
    gap: 1rem;
}
.header .cont .nav a {
    text-decoration: none;
    color: var(--announce-colour);
    font-size: 0.875rem;
    font-weight: 500;
    transition: opacity 0.3s ease-in-out;
}
.nav a:hover, .nav a.active {
    opacity: 0.5;
}
.icons {
    display: flex;
    gap: 1rem;
}
.icons button {
    display:inline block;
    border: none;
    background: none;
    cursor: pointer;
}
/*HOME PAGE*/
/*img bg*/

.home .intro_img {
    height: 600px;
    background-image: url(./src/Home/hero_section/image1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--white);
}
.home .intro_img::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.25);
}

.home .intro_img .intro_img_cont {
    margin-left: 5%;
    max-width: 600px;
    z-index: 1;
    position: relative;
    display: grid;
    gap: 0.75rem;
}
a.btn {
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.9rem 1.5rem;
}
a.btn.shop {
    background-color: var(--lime);
    color: var(--announce-colour);
}
a.btn.shop svg { 
    fill: var(--announce-colour); 
    padding: 0;
}
a.btn.story {
    border: 1px solid var(--white);
    color: var(--white);
    padding-top: 1rem;
    padding-bottom: 1rem;
}
section.grid {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(50px, .5fr));
    height: 70rem;
}
section.grid .box {
    display: block;
    height: 100%;
}